<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your Invoice is below click the link to see</h1>
<p>InvoiceLink--:<%=@invoice_pdf %>!</p>
</p>
</body>
</html>


