<h1>Admins#index</h1>
<%=link_to "Add new User(Buyer)",new_buyer_path%>
<%=link_to "Add new Plan",new_plan_path%>
<%=link_to "Add new Feature",new_feature_path%>
<%= button_to "Sign out", destroy_user_session_path, method: :delete,class:"btn btn-danger" %>

