---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=My+First+Test+Customer+%28created+for+API+docs+at+https%3A%2F%2Fwww.stripe.com%2Fdocs%2Fapi%29
    headers:
      Authorization:
      - Bearer sk_test_51Kz1xcIm6aRqt2RHGvuLqZEYSmSPEqMIWtVu6TxO51xtb057Sg0tUR0Su0yOFIcjEiXXr6GTYEDx2GYrHUNvf5F200Xjx20oPR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a1f4c72e-680b-4e06-ace6-e97f6b34e394
      Original-Request:
      - req_m94CeNKMGcCUA1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_LpHRYgxReYHx5I",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1654510203,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "My First Test Customer (created for API docs at https://www.stripe.com/docs/api)",
          "discount": null,
          "email": null,
          "invoice_prefix": "2014B14D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 06 Jun 2022 10:10:03 GMT
recorded_with: VCR 6.1.0
