---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: id=my_plan&product[name]=StripeMock+Default+Plan+ID&amount=1500&currency=usd&interval=month
    headers:
      Authorization:
      - Bearer sk_test_51Kz1xcIm6aRqt2RHGvuLqZEYSmSPEqMIWtVu6TxO51xtb057Sg0tUR0Su0yOFIcjEiXXr6GTYEDx2GYrHUNvf5F200Xjx20oPR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4d63b430-3022-4df7-953f-f7ce6debc875
      Original-Request:
      - req_eRhULpyKJhS8s4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "my_plan",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 1500,
          "amount_decimal": "1500",
          "billing_scheme": "per_unit",
          "created": 1654605811,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": null,
          "product": "prod_Lph9azUqoIdMCO",
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Tue, 07 Jun 2022 12:43:31 GMT
recorded_with: VCR 6.1.0
