---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=220000&currency=usd&recurring[interval]=month&product_data[name]=jhaf7687sgfjajh
    headers:
      Authorization:
      - Bearer sk_test_51Kz1xcIm6aRqt2RHGvuLqZEYSmSPEqMIWtVu6TxO51xtb057Sg0tUR0Su0yOFIcjEiXXr6GTYEDx2GYrHUNvf5F200Xjx20oPR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aafcaa2e-c895-4c53-b8c0-18a453d5eecb
      Original-Request:
      - req_jEbO5RVnyY8At7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "price_1L7d58Im6aRqt2RHn03rH5DG",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1654510966,
          "currency": "usd",
          "livemode": false,
          "lookup_key": null,
          "metadata": {
          },
          "nickname": null,
          "product": "prod_LpHeQEdeiJrI17",
          "recurring": {
            "aggregate_usage": null,
            "interval": "month",
            "interval_count": 1,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 220000,
          "unit_amount_decimal": "220000"
        }
  recorded_at: Mon, 06 Jun 2022 10:22:46 GMT
recorded_with: VCR 6.1.0
