---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2023&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_51Kz1xcIm6aRqt2RHGvuLqZEYSmSPEqMIWtVu6TxO51xtb057Sg0tUR0Su0yOFIcjEiXXr6GTYEDx2GYrHUNvf5F200Xjx20oPR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9e211db1-7315-4a14-aaf1-b7a1b16e4bce
      Original-Request:
      - req_RqC5He08iXSiWV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1L7eIQIm6aRqt2RHAzORCUps",
          "object": "token",
          "card": {
            "id": "card_1L7eIQIm6aRqt2RHV88VcgEn",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2023,
            "fingerprint": "0YwahmPOZx2L3llT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "202.142.162.6",
          "created": 1654515634,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 06 Jun 2022 11:40:34 GMT
recorded_with: VCR 6.1.0
