<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1>Welcome to our site</h1>
     <p>Your Username is <%= @user.name %>!</p>
     <p>Your email is <%=@user.email%>
     <p>Your Password is <%=@password %>!</p>
    </p>
  </body>
</html>