<p id="notice"><%= notice %></p>

<h1>Featureusages</h1>

<table>
  <thead>
    <tr>
      <th>Total extra units</th>
      <th>Is used</th>
      <th>Feature</th>
      <th>Buyer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @featureusages.each do |featureusage| %>
      <tr>
        <td><%= featureusage.total_extra_units %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Featureusage', new_feature_featureusage_path %>
