<p id="notice"><%= notice %></p>

<p>
  <strong>Total extra units:</strong>
  <%= @featureusage.total_extra_units %>
</p>

<%= link_to 'Edit', edit_feature_featureusage_path(@featureusage) %> |
<%= link_to 'Back', feature_featureusages_path %>
