---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_LpHRYgxReYHx5I/sources
    body:
      encoding: UTF-8
      string: source=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_51Kz1xcIm6aRqt2RHGvuLqZEYSmSPEqMIWtVu6TxO51xtb057Sg0tUR0Su0yOFIcjEiXXr6GTYEDx2GYrHUNvf5F200Xjx20oPR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 46ab411b-864b-44eb-9b68-8a00b741d287
      Original-Request:
      - req_1V0R93H5O5WdTD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such token: '4242424242424242'",
            "param": "source",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 06 Jun 2022 11:37:48 GMT
recorded_with: VCR 6.1.0
